node_modules/
**/node_modules/
dist/
build/
**/dist/
**/build/
target/
**/target/
.env
.env.*
*.env
.env.local
.env.development
.env.production
.env.test
.idea/
.settings/
.project
.classpath
.factorypath
uploads/
**/uploads/
*.log
intersify/src/main/resources/firebase-service-account.json
